@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
}

:root {
  --background: #121212;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
